
/* Header */

.main-container {
    /* Aqui começamos a deixar o layout responsivo através das unidades vw e vh que se adaptam a vários tipos de tela */
    /* vw = viewport wight */
    max-width: 80vw; 
    /* vh = viewport height */
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--bg-container-color);
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    /* O uso da unidade de medide rem se refere a responsividade do item, ele vai ser sempre relativo ao tamanho */
    margin-right: 1.25rem;
}


.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--bg-search-color);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search:hover{
    border: 1px solid #ffffff;
}

.header__search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input{
    background: transparent;
    border: none;
    padding:0 100px 0 12px;
    color: var(--text-base-light);
    /* Essas duas propriedades trabalham juntas, text-overflow e overflow, se você digita um texto maior que o campo
    designado ele substitui o começo do texto por reticências*/
    text-overflow: ellipsis;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    /* Se o texto for muito grande o texto não vai quebrar a linha com essa propriedade */
    white-space: nowrap;
}

.header__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilização do botão download */
.header__buttons .download-app {
    display: flex;
    align-items: center;
    width: 170px;
    height: 35px;
    color: var(--text-base-light);
    font-size: 14px;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
    background-color: var(--text-base-dark);
    border: none;
    justify-content:space-around;
    margin-left: 300px;
}

.header__buttons .download-app .fa {
    color: var(--text-base-light);
    background-color: transparent;
}

.header__buttons .download-app:hover {
    border: 1px solid #ffffff;
}

.header__buttons .header-news{
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: space-around;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    border: none;
    background-color: var(--text-base-dark);
}

.header__buttons .header-news .fa{
    color: var(--text-base-light);
    background-color: transparent;
}

.header__buttons .header-news:hover{
    border: 1px solid #ffffff;
}

.header__login .subscribe {
    color: var(--text-sub);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
    cursor: pointer;
}

.header__login .subscribe:hover{
    text-decoration: underline;
    color: var(--color-nav-hover);
}

.header__login .login{
    width: 100px;
    height: 40px;
    color: var(--text-base-dark);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
    background-color: var(--text-base-light);
}

.header__login .login:active {
    background-color: var(--color-nav-hover);
}

.header__login .login:hover {
    text-decoration: underline;
}

/* Início da playlist */

.playlist-container {
    height: 74vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--bg-container-color);
}

.playlist {
    margin: 24px;
}

.playlist #greeting {
    color: var(--text-base-light);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist .session {
    color: var(--text-base-light);
    font-size: 24px;
    font-weight: 700;
}

/* SCROLL */
/* Definição do espaçamento dos cards dentro do container */
.offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    /* Seletor usado para criar uma barra de rolamento no eixo vertical y e garantir que os elementos fiquem dentro do container
    mesmo excedendo o height do container, a barra de rolamento permite que o usuário veja o conteúdo oculto */
    /* Nesse caso permite criar uma barra de rolamento para vermos os cards ocultos */
    overflow-y: auto;
}
/*:-webkit-scrollbar tem a funcão de definir a largura da barra de rolamento   */
.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
}
/* :-webkit-scrollbar-thumb aqui definimos qual a cor da barra de rolamento */
.offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}
  /* FIM SCROLL */

.offer__list-item {
    /* display: grid;
    justify-items: center;
    /* Aqui definimos quantas coludas desejamos ter em nosso container 1fr reperesenta uma coluna, sem essa propriedade
    todas os cards ficariam alianhandos um embaixo do outro */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* gap e grid-gap são a mesma função de definir o espaçamento entre linhas e colunas.
     Essa propriedade é útil para criar espaçamento uniforme e controlado entre os itens em uma grade. */
    /* A diferença entre grid-gap e gap é que o gap é a versão mais recente e recomendada,
    usar amabas ao mesmo tempo pode ser redundante, projetos para navegadores que suportam a versão mais recente
    se usa o gap, se você não souber pra qual navegador se usa as duas com valores iguais  */
    /* grid-gap: 16px;  */
    /* gap: 16px; */
    /* margin-bottom: 16px;  */

    /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA */
    display: grid;
    gap: 16px;
    grid-gap: 32px;
    margin: 0 auto;
}

.cards {
    position: relative; 
    width: 220px;
    height: 200px;
    /* Propriedade usada para esconder o conteúdo que transborda o container */
    overflow: hidden;
    border-radius: 8px;
}

.cards span {
    padding: 16px;
    position: absolute;
    color: var(--text-base-light);
    font-size: 24px;
    font-weight: 700;
}
/* Aqui definimos o tamanho da imagem e o posicionamento dela dentro do container. */
.offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    /* Propriedade usada para definir a inclinação da imagem */
    transform: rotate(25deg) translate(18%, -2%);
}

  /* COLOR CARDS */
.card1 {
background-color: rgb(0, 100, 80);
}
.card2 {
    background-color: rgb(132, 0, 231);
}
.card3 {
    background: rgb(30, 50, 100);
}
.card4 {
    background: rgb(140, 25, 50);
}
.card5 {
    background: rgb(232, 17, 91);
}
.card6 {
    background: rgb(83, 122, 161);
}
.card7 {
    background: rgb(142, 102, 172);
}
.card8 {
    background: rgb(20, 138, 8);
}
.card9 {
    background: rgb(30, 50, 100);
}
.card10 {
    background: rgb(233, 20, 41);
}
.card11 {
    background: rgb(80, 55, 80);
}
.card12 {
    background: rgb(216, 64, 0);
}
.card13 {
    background: rgb(186, 93, 7);
}
.card14 {
    background: rgb(0, 30, 80);
}
.card15 {
    background: rgb(60, 30, 80);
}
.card16 {
    background: rgb(12, 83, 32);
}
.card17 {
    background: rgb(216, 0, 18);
}
.card18 {
    background: rgb(222, 237, 14);
}
.card19 {
    background: rgb(33, 139, 210);
}
.card20 {
    background: rgb(61, 50, 68);
}

    /* FIM COLOR CARDS */
    
    /* HOVER CARDS */
    .cards:hover .card1 img,
    .cards:hover .card2 img,
    .cards:hover .card3 img,
    .cards:hover .card4 img,
    .cards:hover .card5 img,
    .cards:hover .card6 img,
    .cards:hover .card7 img,
    .cards:hover .card8 img,
    .cards:hover .card9 img,
    .cards:hover .card10 img,
    .cards:hover .card11 img,
    .cards:hover .card12 img,
    .cards:hover .card13 img,
    .cards:hover .card14 img,
    .cards:hover .card15 img,
    .cards:hover .card16 img,
    .cards:hover .card17 img,
    .cards:hover .card18 img,
    .cards:hover .card19 img,
    .cards:hover .card20 img{
        transform: translateX(-50%) scale(1.3);
        bottom: 10px;
        transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .cards:not(:hover) .card1 img, 
    .cards:not(:hover) .card2 img, 
    .cards:not(:hover) .card3 img, 
    .cards:not(:hover) .card4 img, 
    .cards:not(:hover) .card5 img, 
    .cards:not(:hover) .card6 img, 
    .cards:not(:hover) .card7 img, 
    .cards:not(:hover) .card8 img, 
    .cards:not(:hover) .card9 img, 
    .cards:not(:hover) .card10 img, 
    .cards:not(:hover) .card11 img, 
    .cards:not(:hover) .card12 img, 
    .cards:not(:hover) .card13 img, 
    .cards:not(:hover) .card14 img, 
    .cards:not(:hover) .card15 img, 
    .cards:not(:hover) .card16 img, 
    .cards:not(:hover) .card17 img, 
    .cards:not(:hover) .card18 img, 
    .cards:not(:hover) .card19 img, 
    .cards:not(:hover) .card20 img {
        bottom: 0;
        transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

/* CARD ARTISTA */

/* Seletor usado para que o resultado da busca apareça no conteúdo principal */
.artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
}

/* Seletor usado para esconder elemento(os) da página */
.hidden {
    /* Usando a propriedade diplay e o valor none, faz com que o elemento só apareça se for pesquisado, não ocupando 
    o espaço da tela enquanto estiver oculto */
    display: none;
}

/* Nesse seletor definimos os tamanho do container que aparece na busca */
.grid-container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
}

.artist-card {
    background: var(--bg-card-color);
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    /* Propriedade usada para uma mudança de cor suave ao container */
    transition: background-color 0.3s ease;
    width: 100%;
}

.artist-card:hover {
    background-color: var(--bg-card-color-hover);
}

.card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
}

.card-text {
    display: flex;
    flex-direction: column;
    color: var(--text-base-light);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
}

.card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
}

.artist-categorie {
    color: var(--color-artist);
    font-weight: 400;
    font-size: 0.875rem;
}

.play {
    position: relative;
}

.play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: var(--color-nav-hover);
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}

.play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
}

#result-artist {
    padding: 20px 40px;
}
  /* FIM CARD ARTISTA */
