body {
    background: var(--bg-body);
    min-height: 100vh;
    /* Variável da fonte padrão usada no projeto */
    font-family: var(--font-dm-sans);
}

/* Começo da estilização do Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 308px;
    flex: 1;
}

.sidebar__navigation {
    background-color: var(--bg-container-color);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background-color: var(--bg-container-color);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}


.sidebar nav ul {
    margin-top: 10px;
    padding: 0 20px 10px 20px;
}

.sidebar nav ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: var(--color-nav-text);
    font-weight: 600;
    font-size: 16px;
    /* font-family: "DM Sans", sans-serif; */
    text-decoration: none;
}

/* Dando movimento aos botões do sidebar */
.espaco:hover{
    padding-left: 10px;
    text-decoration: underline;
    color: var(--color-nav-hover)
}

.sidebar nav ul li a:hover{
    color: var(--color-nav-hover)
}

.logo img {
    width: 110px;
}

/* Início do sidebar biblioteca */
/* Observação... fazer usar o css na mesma ordem das classes do html,não é obrigatório porém ajuda a lembrar o que precisa ser estilizado */

.library {
    margin-top: 10px;
    background-color: var(--bg-container-color);
    color: var(--color-nav-text);
    border-radius: 8px;
    /* display flex para que facilitar a orientação dos elementos da tela */
    display: flex;
    justify-content: space-between;
    /* propriedade flex direcion para organizar os elementos,nesse caso em colunas */
    flex-direction: column ;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 14px;
    overflow-y: auto;
}

.library .library__content {
    display: flex;
    justify-content: space-between;

}

/* Início da estilização do botão sua biblioteca */

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: var(--color-nav-text);
    background-color: transparent;
    border: 0px;
    font-size: 16px;
    font-weight: 700;
    /* font-family: "DM Sans", sans-serif; */
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 15px 5px;
}

.library .library__button:hover{
    text-decoration: underline;
    color: var(--color-nav-hover);
    cursor: pointer;
}

/* estilização do ícone book  */
.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 15px 10px;
    cursor: pointer;
}

.library .library__content .fa-plus:hover{
    color: var(--text-base-light);
}

/* Fim da estilização do botão sua biblioteca */

/* Início da estilização da seção playlist */

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* Propriedade gap vai de definir qual o espaço dado entre os itens, o space-betwen da o espaço o gap define qual é o espaçamento */
    gap: 20px;
    color: var(--color-nav);
    background-color: var(--bg-search-color);
    font-weight: 600;
    font-size: 16px;
    margin: 7px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;

}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: var(--text-base-light);
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
    color: var(--text-base-light);
    font-family: Arial, Helvetica, sans-serif
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    /* font-family: "DM Sans", sans-serif; */
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border-radius: 20px;
    border: solid 1px #000000;
    width: 113px;
    font-size: 12px;
    font-weight: 700;
    background-color: var(--text-base-light);
    color: var(--text-base-dark);
    cursor: pointer;
}

.section-playlist__content .section-playlist__button:hover{
    text-decoration: underline;
}

/* Fim da seção Playlist */

/* Início da seção Podcasts */

.section-podcast {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* Propriedade gap vai de definir qual o espaço dado entre os itens, o space-betwen da o espaço o gap define qual é o espaçamento */
    gap: 20px;
    color: var(--color-nav-text);
    background-color: var(--bg-search-color);
    font-weight: 600;
    font-size: 16px;
    margin: 7px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-podcst .section-podcast__content {
    display: flex;
    flex-direction: column;

}

.section-podcast__content .text {
    padding-bottom: 14px;
    color: var(--text-base-light);
    white-space: nowrap;
    /* font-family: "DM Sans", sans-serif; */
}

.section-podcast__content .title {
    font-weight: 700;
}

.section-podcast__content .subtitle {
    font-weight: 500;
    font-size: 12px;
    color: var(--text-base-light);
    font-family: Arial, Helvetica, sans-serif
}

.section-podcast__content .section-podcast__button {
    display: flex;
    justify-content: center;
    /* font-family: "DM Sans", sans-serif; */
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: solid 1px #000000;
    width: 150px;
    font-size: 12px;
    font-weight: 700;
    background-color: var(--text-base-light);
    color: var(--text-base-dark);
    cursor: pointer;
    white-space: nowrap;
}

.section-podcast__content .section-podcast__button:hover{
    text-decoration: underline;
}

/* Fim da Seção podcast */
.library .informs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0 5px 0;
}

.library .cookies{
    margin: 0 8px 8px 8px;
}

.library .cookies a {
    color: var(--color-nav-text);
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.library .cookies a:hover {
    text-decoration: underline;
}

.library .privacy{
    margin: 0 8px 8px 8px;
}

.library .privacy a {
    color: var(--color-nav-text);
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.library .privacy a:hover {
    text-decoration: underline;
}

.library .legal{
    margin: 0 8px 8px 8px;
}

.library .legal a {
    color: var(--color-nav-text);
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.library .legal a:hover {
    text-decoration: underline;
}

.library .adverts{
    margin: 0 8px 8px 8px;
}

.library .adverts a {
    color: var(--color-nav-text);
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.library .adverts a:hover {
    text-decoration: underline;
}

.library .accessibility{
    margin: 0 8px 8px 8px;
}

.library .accessibility a {
    color: var(--color-nav-text);
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.library .accessibility a:hover {
    text-decoration: underline;
}

.languages .languages__button{
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    color: var(--color-nav-text);
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
}

.languages .languages__button:hover{
    color: var(--text-base-light);
}

/* Começo da estilização do footer  */

.disclaimer-premium {
    /* Position: fixed; para que o footer fique no fundo da tela */
    position: fixed;
    display: flex;
    justify-content: space-between;
    /* bottom precisa ser 0 para garantir junto com a propriedade position fixed o nosso footer fique fixo embaixo da tela  */
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--bg-footer);
    padding: 15px 40px;
}
.disclaimer-premium .text {
    flex-shrink: 0;
}
.disclaimer-premium .disclaimer-premium__title {
    color: var(--text-base-light);
    /* Propriedade usada para deixar todo texto em caixa alta. */
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: var(--text-base-light);
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.disclaimer-premium button {
    background-color: var(--text-base-dark);
    color: var(--text-base-light);
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: #ffffff 1px solid;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
    /* font-family: "DM Sans", sans-serif; */
}

.disclaimer-premium button:hover {
    text-decoration: underline;
    background-color: var(--text-base-light);
    color: var(--text-base-dark);
    border: #000000 1px solid;
}