/*                                                                     */
/* Arquivo feito com a finalida de agrupar os estilos usados na página */
/*                                                                     */

:root{
/* FONTS  por exemplo, serve para definir um padrão de fontes que serão usadas no projeto, para alterar todas de uma vez,
só precisamos alterar nas variáveis*/
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */
    /* Body */
    --bg-body: linear-gradient(to bottom, #000, #121212, #0F5C29, #1DB954  );

    /* Containers */
    --bg-container-color: #121212;

    /* Sidebar */
    --color-nav-text: #b3b3b3;
    --color-nav: #131313;
    --text-base-light: #fff;
    --bg-search-color: #242424;
    --text-base-dark: #000;
    /* Hover-Sidebar */
    --color-nav-hover: #1DB954;

    /* Footer */
    --bg-footer:linear-gradient(to right, #000, #121212, #0F5C29, #1DB954);

    --bg-arrow-color: rgba(0,0,07);
    
    --bg-card-color:#181818;
    --bg-card-color-hover:#252525;
    --color-artist:#6a6a6a;
    --text-sub: #a7a7a7;


    --bg-top-bar: #61616142;
    --grid-gap: 24px;
    --column-count: 5;

}
/* MEDIA QUERYS */
@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1274px) {
}